article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 22rem;
  min-height: 200px;
  border-radius: 10px;
}
article:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  transform: scale(1.05);
  cursor: pointer;
}

.ts-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  transform: scale(1.05);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 8px;
}

.typing-animation {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  max-width: 100%;
  animation:
    typing 3.5s steps(40, end) infinite alternate,
    blink-caret 0.75s step-end infinite;
}

@media (max-width: 768px) {
  .typing-animation {
    width: 100%;
  }
}

@keyframes typing {
  0%,
  10% {
    width: 0;
  }
  70%,
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
